doctype html
html(lang='en')
  head
    title URL Shortener Microservice
    link(href='/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/app.css', rel='stylesheet', type='text/css')

  body
    block content